[[ define "content" ]]
<div class="row justify-content-center">
	<div class="col col-lg-6">
		<div class="card border">
			<div class="card-body">
				[[ template "_nav" . ]]

				<h5 class="card-title">Register</h5>
				<h6 class="card-subtitle mb-2 text-muted">Register to use DFL services</h6>

				<div v-show="success" class="alert alert-success p-1">{{ success }}</div>
				<div v-show="error" class="alert alert-danger p-1">{{ error }}.</div>

				<form action="#" v-on:submit.prevent="promptSubmit">
					<div class="input-group input-group-sm mb-3">
						<span class="input-group-text" id="inputGroup-sizing-sm">Username&nbsp;</span>
						<input type="text" class="form-control" name="username" required autofocus aria-label="Username" v-model="username">
					</div>
					<div class="input-group input-group-sm mb-3">
						<span class="input-group-text" id="inputGroup-sizing-sm">Invite code</span>
						<input type="text" class="form-control" name="invite_code" required aria-label="Invite code" v-model="inviteCode">
					</div>
					<div class="input-group input-group-sm mb-3">
						<span class="input-group-text" id="inputGroup-sizing-sm">Key name&nbsp;&nbsp;</span>
						<input type="text" class="form-control" name="key_name" aria-label="Key name" v-model="keyName">
					</div>
					<div class="d-grid gap-2">
						<button v-bind:disabled="disabled" type="submit" class="btn btn-outline-primary btn-sm btn-block">{{ btnLabel }}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
[[ end ]]

[[ define "js" ]]
<script>
	var app = new Vue({
		el: '#app',

		data: {
			error: null,
			success: null,
			btnLabel: 'Prompt',
			username: '',
			inviteCode: '',
			keyName: '',
			disabled: false,
		},

		mounted() {
			if (!window.PublicKeyCredential) {
				this.disabled = true;
				this.btnLabel = 'WebAuthn not supported!';
				this.error = 'Cannot register without Webauthn';
			}

			const params = [];
			const rawParams = window.location.search.substr(1).split('&');

			for (const p of rawParams) {
				const [key, value, ...rest] = p.split('=');

				if (rest.length)
					return;

				params.push({
					key: decodeURI(key),
					value: decodeURI(value),
				});
			}

			const inviteCode = params.find(p => p.key == 'invite_code');
			const username = params.find(p => p.key == 'username');

			this.inviteCode = inviteCode?.value;
			this.username = username?.value;
		},

		methods: {
			async promptSubmit() {
				const prompt = await this.registerPrompt(this.username, this.inviteCode);

				const challengeId = prompt?.data?.id;
				const { publicKey } = prompt?.data?.challenge;

				publicKey.challenge = bufferDecode(publicKey.challenge);
				publicKey.user.id = bufferDecode(publicKey.user.id);

				for (const i in publicKey.excludeCredentials)
					publicKey.excludeCredentials[i].id = bufferDecode(publicKey.excludeCredentials[i].id);

				const credential = await this.handleCredential(publicKey);

				try {
					await axios.post('/1/2021-01-15/register_confirm', {
						username: this.username,
						invite_code: this.inviteCode,
						challenge_id: challengeId,
						key_name: this.keyName === '' ? null : this.keyName,
						webauthn: {
							id: credential.id,
							raw_id: bufferEncode(credential.rawId),
							type: credential.type,
							response: {
								attestation_object: bufferEncode(credential.response.attestationObject),
								client_data_json: bufferEncode(credential.response.clientDataJSON),
							},
						},
					});
				} catch (error) {
					this.success = null;
					this.error = `Error: ${error?.response?.data?.code}`;

					console.error(error);

					throw error;
				}

				this.error = null;
				this.success = 'Success! You have registered.';
				this.disabled = true;
				this.btnLabel = 'Complete!';
				this.inviteCode = '';
			},

			async registerPrompt(username, inviteCode) {
				try {
					return await axios.post('/1/2021-01-15/register_prompt', {
						username: username,
						invite_code: inviteCode,
					});
				} catch (error) {
					this.success = null;
					this.error = `Error: ${error?.response?.data?.code}`;

					console.error(error);

					throw error;
				}
			},

			async handleCredential(publicKey) {
				try {
					return await navigator.credentials.create({ publicKey });
				} catch (error) {
					// TODO(gm): This seems awful
					if (String(error).includes('excludeCredentials')) {
						this.error = 'This key has already been registered';
					}

					throw error;
				}
			},
		},
	});
</script>
[[ end ]]
