[[ define "content" ]]
<div class="row justify-content-center">
	<div class="col col-lg-8">
		<div class="card border">
			<div class="card-body">
				[[ template "_nav" . ]]

				<h5 class="card-title">Manage U2F keys</h5>
				<h6 class="card-subtitle mb-2 text-muted">Add, remove, and rename U2F keys.</h6>

				<div v-show="success" class="alert alert-success p-1">{{ success }}</div>
				<div v-show="error" class="alert alert-danger p-1">{{ error }}.</div>

				<div v-show="loading" class="text-center mb-3 p-3">
					<div class="spinner-border" role="status">
						<span class="sr-only">Loading...</span>
					</div>
				</div>

				<div v-show="!accessToken || accessToken == ''">
					Run: <pre class="user-select-all">auth sat | pbcopy</pre>
				</div>

				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">Access token</span>
					<input type="text" class="form-control" required autofocus aria-label="Access token" v-model="accessToken" v-on:keyup="tokenUpdated">
				</div>

				<div v-show="username">
					<p>Hello {{ username }}, you are user ID <code>{{ userId }}</code>.</p>
					<a class="btn btn-sm btn-outline-success" href="#" v-on:click.prevent="createKey">Add a new key <i class="fa fa-plus"></i></a>
				</div>

			</div>
			<table v-show="u2fKeys.length > 0" class="table table-sm table-hover">
				<thead>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Actions</th>
				</thead>
				<tbody>
					<tr v-for="key in u2fKeys">
						<td><code>{{ key?.id }}</code></td>
						<td>{{ key?.name }}</td>
						<td class="d-inline-flex justify-content-evenly" style="width: 100%;">
							<a data-bs-toggle="tooltip" href="#" v-show="!key.signed_at" v-on:click.prevent="signKey(key.id)" title="Sign key"><i class="fa fa-signature text-warning"></i></a>
							<a data-bs-toggle="tooltip" href="#" v-bind:title="signedByText(key)" data-html="true"><i class="fa fa-info text-info"></i></a>
							<a data-bs-toggle="tooltip" href="#" v-on:click.prevent="deleteKey(key.id)" title="Delete key"><i class="fa fa-ban text-danger"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
[[ end ]]

[[ define "js" ]]
<script>
	var app = new Vue({
		el: '#app',

		data: {
			loading: false,
			success: null,
			error: null,
			accessToken: '',
			userId: null,
			username: null,
			u2fKeys: [],
			promises: {
				listU2fKeys: null,
				whoAmI: null,
				createKeyPrompt: null,
				createKeyConfirm: null,
				signKeyPrompt: null,
				signKeyConfirm: null,
			},
		},

		async mounted() {
			if (window.localStorage)
				this.accessToken = window.localStorage.getItem('dfl_access_token');

			await this.tokenUpdated();
		},

		methods: {
			async tokenUpdated() {
				if (!this.accessToken) {
					this.username = null;
					this.userId = null;
					this.error = null;
					this.success = null;
					this.u2fKeys = [];

					if (window.localStorage)
						window.localStorage.removeItem('dfl_access_token');

					return;
				};

				this.loading = true;

				await this.handleWhoAmI();
				await this.listU2fKeys(this.userId);

				if (window.localStorage)
					window.localStorage.setItem('dfl_access_token', this.accessToken);

				this.loading = false;
			},

			async handleWhoAmI() {
				try {
					this.promises.whoAmIPromise = axios.post('/1/2021-01-15/whoami', null, {
						headers: { Authorization: `Bearer ${this.accessToken}` },
					})

					const whoami = await this.promises.whoAmIPromise;

					this.username = whoami?.data?.username;
					this.userId = whoami?.data?.user_id;
				} catch (error) {
					this.success = null;
					this.error = `Error: ${error?.response?.data?.code}`;

					console.error(error);

					throw error;
				}
			},

			async createKey() {
				this.promises.createKeyPrompt = axios.post('/1/2021-01-15/create_key_prompt', {
					user_id: this.userId,
				}, {
					headers: { Authorization: `Bearer ${this.accessToken}` },
				});

				this.loading = true;

				let prompt;
				try {
					prompt = await this.promises.createKeyPrompt;
				} catch (error) {
					this.success = null;
					this.error = `Error: ${error?.response?.data?.code}`;

					console.error(error);

					throw error;
				} finally {
					this.loading = false;
				}

				const keyName = window.prompt('Enter a name for the key');

				const challengeId = prompt?.data?.id;
				const { publicKey } = prompt?.data?.challenge;

				publicKey.challenge = bufferDecode(publicKey.challenge);
				publicKey.user.id = bufferDecode(publicKey.user.id);

				for (const i in publicKey.excludeCredentials)
					publicKey.excludeCredentials[i].id = bufferDecode(publicKey.excludeCredentials[i].id);

				const credential = await this.handleCredentialRegister(publicKey);

				this.promises.createKeyConfirm = axios.post(`/1/2021-01-15/create_key_confirm`, {
					user_id: this.userId,
					challenge_id: challengeId,
					key_name: keyName,
					webauthn: {
						id: credential.id,
						raw_id: bufferEncode(credential.rawId),
						type: credential.type,
						response: {
							attestation_object: bufferEncode(credential.response.attestationObject),
							client_data_json: bufferEncode(credential.response.clientDataJSON),
						},
					},
				}, {
					headers: { Authorization: `Bearer ${this.accessToken}` },
				});

				this.loading = true;

				try {
					await this.promises.createKeyConfirm;
				} catch (error) {
					this.success = null;
					this.error = `Error: ${error?.response?.data?.code}`;

					console.error(error);

					throw error;
				} finally {
					this.loading = false;
				}

				await this.listU2fKeys(this.userId);
			},

			async listU2fKeys(userId) {
				let res;

				try {
					this.promises.listU2fKeys = axios.post('/1/2021-01-15/list_u2f_keys', {
						user_id: userId,
						include_unsigned: true,
					}, {
						headers: { Authorization: `Bearer ${this.accessToken}` },
					})

					res = await this.promises.listU2fKeys;
				} catch (error) {
					this.success = null;
					this.error = `Error: ${error?.response?.data?.code}`;

					console.error(error);

					throw error;
				} finally {
					this.u2fKeys = res?.data;

					initTooltips();
				}
			},

			async deleteKey(keyId) {
				if (!window.confirm("Are you sure?")) {
					return;
				}

				this.loading = true;

				try {
					await axios.post('/1/2021-01-15/delete_key', {
						user_id: this.userId,
						key_id: keyId,
					}, {
						headers: { Authorization: `Bearer ${this.accessToken}` },
					});

					this.success = 'Key deleted';
					this.error = null;
				} catch (error) {
					this.success = null;
					this.error = `Error: ${error?.response?.data?.code}`;

					console.error(error);

					throw error;
				} finally {
					this.loading = false;
				}

				await this.listU2fKeys(this.userId);
			},

			async handleCredentialRegister(publicKey) {
				try {
					return await navigator.credentials.create({ publicKey });
				} catch (error) {
					// TODO(gm): This seems awful
					if (String(error).includes('excludeCredentials')) {
						this.error = 'This key has already been registered';
					}

					throw error;
				}
			},

			async signKey(keyId) {
				this.promises.signKeyPrompts = axios.post('/1/2021-01-15/sign_key_prompt', {
					user_id: this.userId,
					key_to_sign: keyId,
				}, {
					headers: { Authorization: `Bearer ${this.accessToken}` },
				});

				this.loading = true;

				let prompt;
				try {
					prompt = await this.promises.signKeyPrompts;
				} catch (error) {
					this.success = null;
					this.error = `Error: ${error?.response?.data?.code}`;

					console.error(error);

					throw error;
				} finally {
					this.loading = false;
				}

				const challengeId = prompt?.data?.id;
				const { publicKey } = prompt?.data?.challenge;

				publicKey.challenge = bufferDecode(publicKey.challenge);

				for (const i in publicKey.allowCredentials)
					publicKey.allowCredentials[i].id = bufferDecode(publicKey.allowCredentials[i].id);

				const credential = await navigator.credentials.get({ publicKey })

				this.loading = true;

				try {
					await axios.post('/1/2021-01-15/sign_key_confirm', {
						user_id: this.userId,
						challenge_id: challengeId,
						key_to_sign: keyId,
						webauthn: {
							id: credential.id,
							raw_id: bufferEncode(credential.rawId),
							type: credential.type,
							response: {
								authenticator_data: bufferEncode(credential.response.authenticatorData),
								client_data_json: bufferEncode(credential.response.clientDataJSON),
								signature: bufferEncode(credential.response.signature),
								user_handle: bufferEncode(credential.response.userHandle),
							},
						},
					}, {
						headers: { Authorization: `Bearer ${this.accessToken}` },
					})
				} catch (error) {
					this.success = null;
					this.error = `Error: ${error?.response?.data?.code}`;

					console.error(error);

					throw error;
				} finally {
					this.loading = false;
				}

				this.success = 'Key signed';
				this.error = null;

				await this.listU2fKeys(this.userId);
			},

			signedByText(key) {
				if (!key.signed_at)
					return 'Unsigned';

				return `Signed on ${key.signed_at}`;
			},
		},
	});
</script>
[[ end ]]
